.wrapper {
    display: table;
}

.text1 {
    display: table-cell;
    font-family: "Open Sans";
    font-size:34px;
    color: #e3e3e3;
}

.text2 {
    display: table-cell;
    font-family: "Open Sans";
    font-size:34px;
    color: orange;
}

.text3 {
    display: table-cell;
    font-family: "Open Sans";
    font-size:24px;
    color: #e3e3e3;
}

hr.divider {
      border: 2px solid gray;
      border-radius: 2px;
}
